
<html>
  <head>

      <link rel="stylesheet" href="https://noziro.now.sh/ressources/bulma.css">
          <script src="https://kit.fontawesome.com/9df66f7bcf.js" crossorigin="anonymous"></script>
              <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Noziro App</title>
  </head>
  <body>



    <nav class="navbar navvvv" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
     <div class="navbar-item">
    <a class="navbar-item button"  href="/app">
     <i class="fas fa-arrow-left"></i>
    </a>
    </div>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">


    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="addaguildbutton" class="button is-primary">
            <strong><i class="fas fa-plus-square"></i></strong>
          </a>
           <a id="guildsexplorer" class="button">
                 <i class="far fa-compass"></i>

          </a>

        </div>
      </div>
    </div>
  </div>
</nav>
     </br>
  </br>

    <main>
    <br>

    <div class="container">

    <div class="card">

  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img class="is-rounded" src="https://cdn.discordapp.com/avatars/<%= userid %>/<%= avatar %>.png?size=128" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= username %></p>
        <p class="subtitle is-6"><a href="/profile/<%= username %>">@<%= username %></a></p>
      </div>

       <div class="buttons">
          <button id="settings" class="button is-primary" onclick="window.location='/selfbot'">Selfbot</button>
         <button id="settings" class="button"><i class="fas fa-sliders-h"></i></button>
  <button onclick="window.location='/logout'" class="button is-primary">Logout</button>
     </div>
    </div>



  </div>
</div>

    </div>
    <br>
     <div class="container is-fullhd">

   <div class="notification ">

    <p class="title is-1">
      Coming Soon: More stuff lol🍜</p>

    </div>

    </div>
    </main>



  </body>

</html>
