
<html>
  <head>


          <script src="https://kit.fontawesome.com/9df66f7bcf.js" crossorigin="anonymous"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/vue"></script>
          <script type="text/javascript" src="/ressources/selfbot/jscolor.js"></script>
          <script type="text/javascript" src="/ressources/selfbot/discord.js"></script>
          <script type="text/javascript" src="/ressources/selfbot/selfbot.js"></script>
          <link rel="stylesheet" href="/ressources/selfbot/style.css" type="text/css">
          <link rel="stylesheet" href="/ressources/selfbot/loader.css" type="text/css">
          <link rel="stylesheet" href="https://noziro.now.sh/ressources/bulma.css">
              <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Noziro App</title>
  </head>
  <body>



    <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
     <div class="navbar-item">
    <a class="navbar-item button"  href="/">
     <i class="fas fa-arrow-left"></i>
    </a>
    </div>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">


    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <!--<a id="addaguildbutton" class="button is-primary">
            <strong><i class="fas fa-plus-square"></i></strong>
          </a>
           <a id="guildsexplorer" class="button">
                 <i class="far fa-compass"></i>

          </a>-->

          <button onclick="window.location='/logout'" class="button is-danger">Logout</button>

        </div>
      </div>
    </div>
  </div>
</nav>
     </br>
  </br>

    <main>
    <br>
<div class="notification">
    <div class="container">

    <div class="card">

  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img class="is-rounded" src="https://cdn.discordapp.com/avatars/<%=  user.userid %>/<%=  user.avatar %>.png?size=128" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%=  user.username %></p>
        <p class="subtitle is-6"><%=  user.bio %></p>
      </div>

       <div class="buttons media-right">
         <button id="settings" class="button"><i class="fas fa-sliders-h"></i></button>

     </div>
    </div>



  </div>
</div>

    </div>

  </div>
    <br>
     <div class="container is-fullhd">
<div class="tokenlogin" id="history" style="display: none;">
       <h1 >
           Token history:
       </h1>
  <div class="card tokenlogin" >
       <div class="card-content">
         <div class="media">
          <!-- <div class="media-left">
             <figure class="image is-48x48">
               <img class="is-rounded" src="https://cdn.discordapp.com/avatars/<%=  user.userid %>/<%= user.avatar %>.png?size=128" alt="Placeholder image">
             </figure>
           </div>-->
           <div class="media-content">
             <p class="title is-4" id="historyusername"></p>
             <p class="subtitle is-6" id="historytoken"></p>
           </div>

            <div class="buttons media-right">
              <button id="startfromhistory" class="button"><i class="far fa-play-circle"></i> Start</button>

          </div>
         </div>


</div>
       </div>
</div>
       <br></br>


       <script type="text/javascript">
         $("#startfromhistory").click(function() {
           selfbotapp(tokenlocal);
         })
       </script>



            <div class="container has-text-centered tokenlogin">

                <h1 class="title">
                    Token login
                </h1>

                <br>
                </br>
                <div class="field">
                    <div class="control">



                        <div class="control has-icons-left">
                            <input class="input is-primary is-inverted is-rounded" type="text" placeholder="Enter your token" style="color: hsl(0, 0%, 65%)" id="token" value="">
                            <script type="text/javascript">
                              if (localStorage.getItem("token")) {
                                var tokenlocal = localStorage.getItem("token")

                                $('#historyusername').html(localStorage.getItem("username"));
                                $('#historytoken').html(localStorage.getItem("token"));
                                $("#history").fadeIn();
                                $("tokenlogin").fadeIn();

                            } else {

                              $('#token').val("");
                              $("#history").fadeOut();
                             }
                            </script>
                            <span class="icon is-small is-left">
                                <i class="fas fa-neuter"></i>
                            </span>
                        </div>
                        <br><br />

                        <span class="is-centered">

                            <button class="button is-primary is-inverted is-centered" onclick="selfbotapp();" class="loginbtn">
                                <span class="icon">
                                    <i class="far fa-play-circle"></i>
                                </span>
                                <span>Start</span>
                            </button>
                        </span>


                    </div>
                </div>
            </div>



    <div class="invisible" id="connected" style="display: none;">
        <button onclick="logout();" class="button is-danger">Stop Selfbot</button>

        <h1>
            <center>Connected as: <p id="username"></p>
            </center>
        </h1>


        <p>
            <h2>Control panel:</h2>
        </p>
        <div class="grid-container">

            <div class="grid-item">
                Embed Image:<br><input type="text" id="iembedimage" value="<%= settings.embedimage %>">
                <br>
                <br>
                <img id="prembedimage" class="grid-img" src="<%= settings.embedimage %>" width="100px">
            </div>

            <div class="grid-item">
                Footer Image:<br><input type="text" id="ifooterimage" value="<%= settings.footerimage %>">
                <br>
                <br>
                <img id="prfooterimage" class="grid-img" src="<%= settings.footerimage %>" width="100px">
            </div>

            <div class="grid-item">
                Embed Color:<br><input id="iembedcolor" class="jscolor" value="<%= settings.embedcolor %>">
            </div>
            <div class="grid-item">
                Prefix:<br>
                <select class="selectmenu" id="iprefix">
                    <option value="/" class="option">/</option>
                    <option value="*" class="option">*</option>
                    <option value=">" class="option">></option>
                    <option value="<" class="option"><</option>
                    <option value="." class="option">.</option>
                    <option value="$" class="option">$</option>
                    <option value="!" class="option">!</option>
                    <option value=";" class="option">;</option>
                    <option value="," class="option">,</option>
                    <option value=":" class="option">:</option>

                    <option value="_" class="option">_</option>
                    <option value="-" class="option">-</option>
                </select>
            </div>
            <div class="grid-item">
                Afk Mode:
                <br><label class="switch">
                    <input type="checkbox" id="iafkmode" checked="<%= settings.afkmode %>">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="grid-item">
                Afk Message:<br><input type="text" id="iafkmessage" value="<%= settings.afkmessage %>">
            </div>
            <div class="grid-item">
              Logs Channel's Id:<br><input type="text" id="iafktransmitchannel" value="<%= settings.afktransmitchannel %>">
            </div>

            <div class="grid-item">
                Custom Status:

                <br><label class="switch">
                    <input type="checkbox" id="iactivitystatus" checked="<%= settings.activitystatus %>">
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="grid-item">
                Status Message:<br><select class="selectmenu" id="istatustype">
                    <option value="STREAMING" class="option">Streaming</option>
                    <option value="WATCHING" class="option">Watching</option>
                    <option value="LISTENING" class="option">Listening</option>
                    <option value="PLAYING" class="option">Playing</option>
                </select>
                <input type="text" id="istatusmessage" value="<%= settings.statusmessage %>">
            </div>



            <div class="grid-item">
                Bot DMs (AdBlock):
                <br><label class="switch">
                    <input type="checkbox" id="iabstatus" checked="<%= settings.abstatus %>">
                    <span class="slider round"></span>
                </label>


            </div>

            <div class="grid-item">
                Nitro Sniper (autoclaimer):
                <br><label class="switch">
                    <input type="checkbox" id="insstatus" checked="<%= settings.nsstatus %>">
                    <span class="slider round"></span>
                </label>


            </div>


        </div>

        <br>
        <br>

        <div id="snackbartwo">Settings applied!</div>

        <button onclick="resetsettings();" class="button is-info">Load settings</button>
    <form id="settingsform" method="POST">

        <button class="button is-success" type="submit">Save settings</button>

        <div class="invisible" style="display:none">
            <p id="prefix" form="settingsform" name="settings[prefix]">/</p>
            <p id="embedcolor" form="settingsform" name="settings[embedcolor]">#654321</p>
            <p id="embedimage" form="settingsform" name="settings[embedimage]">https://noziro.now.sh/ressources/noziro_gif.gif</p>
            <p id="afktransmitchannel" form="settingsform" name="settings[afktransmitchannel]">681305768426995719</p>
            <p id="footerimage" form="settingsform" name="settings[footerimage]">https://noziro.now.sh/ressources/noziro_brown.png</p>
            <p id="afkmode" form="settingsform" name="settings[afkmode]">false</p>
            <p id="afkmessage" form="settingsform" name="settings[afkmessage]">Sorry dude, i'm afk</p>
            <p id="statusmessage" form="settingsform" name="settings[statusmessage]">Noziro Selfbot</p>
            <p id="activitystatus" form="settingsform" name="settings[activitystatus]">false</p>
            <p id="statustype" form="settingsform" name="settings[statustype]">STREAMING</p>
            <p id="abstatus" form="settingsform" name="settings[abstatus]">false</p>
            <p id="nsstatus" form="settingsform" name="settings[nsstatus]">false</p>
        </div>
</form>

<script>
$('#settingsform').submit(function(e){
    e.preventDefault();
    $.ajax({
        url: '/api/settings',
        type: 'post',
        data:$('#settingsform').serialize(),
        success:function(){
            // Whatever you want to do after the form is successfully submitted
        }
    });
});

</script>

    <br>
    </div>
    <div class="dank-ass-loader invisible centromax" id="loader" style="display:none">
        <div class="row">
            <div class="arrow up outer outer-18"></div>
            <div class="arrow down outer outer-17"></div>
            <div class="arrow up outer outer-16"></div>
            <div class="arrow down outer outer-15"></div>
            <div class="arrow up outer outer-14"></div>
        </div>
        <div class="row">
            <div class="arrow up outer outer-1"></div>
            <div class="arrow down outer outer-2"></div>
            <div class="arrow up inner inner-6"></div>
            <div class="arrow down inner inner-5"></div>
            <div class="arrow up inner inner-4"></div>
            <div class="arrow down outer outer-13"></div>
            <div class="arrow up outer outer-12"></div>
        </div>
        <div class="row">
            <div class="arrow down outer outer-3"></div>
            <div class="arrow up outer outer-4"></div>
            <div class="arrow down inner inner-1"></div>
            <div class="arrow up inner inner-2"></div>
            <div class="arrow down inner inner-3"></div>
            <div class="arrow up outer outer-11"></div>
            <div class="arrow down outer outer-10"></div>
        </div>
        <div class="row">
            <div class="arrow down outer outer-5"></div>
            <div class="arrow up outer outer-6"></div>
            <div class="arrow down outer outer-7"></div>
            <div class="arrow up outer outer-8"></div>
            <div class="arrow down outer outer-9"></div>
        </div>
    </div>





    <div class="invisible" style="display:none">
        <p id="dprefix"><%= settings.prefix %></p>
        <p id="dembedcolor">#<%= settings.embedcolor %></p>
        <p id="dembedimage"><%= settings.embedimage %></p>
        <p id="dafktransmitchannel"><%= settings.afktransmitchannel %></p>
        <p id="dfooterimage"><%= settings.footerimage %></p>
        <p id="dafkmode"><%= settings.afkmode %></p>
        <p id="dafkmessage"><%= settings.afkmessage %></p>
        <p id="dstatusmessage"><%= settings.statusmessage %></p>
        <p id="dactivitystatus"><%= settings.activitystatus %></p>
        <p id="dstatustype"><%= settings.statustype %></p>
        <p id="dabstatus"><%= settings.abstatus %></p>
        <p id="dnsstatus"><%= settings.nsstatus %></p>
        <p id="selfboton">false</p>
    </div>







    </div>




    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Made with 🤎️ by</strong> <a href="https://twitter.com/saravenpi">Saravenpi</a> <br>The source code is licensed
                <a href="https://opensource.org/licenses/mit-license.php">MIT</a>.
                <br>The website content
                is licensed <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
          Join us on <a href="https://discord.gg/XfM8WR7">Discord</a> ;)
        </div>
    </footer>
    </main>


<%- include("/app/views/app/modals/index.ejs") %>
  </body>

</html>
