<!doctype html>
<html>
  <head>
    <title>Noziro Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://kit.fontawesome.com/9df66f7bcf.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <script src="/ressources/chat/script.js"></script>
   <link rel="stylesheet" href="/ressources/chat/css/style.css">
   <script>

      $(document).ready(function() {

    // Check for click events on the navbar burger icon
    $(".navbar-burger").click(function() {

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");

    });
  });
  </script>

  </head>
  <body>

<!--<div class="sidenav">
 <div class="account" style="float: left;">

   <input style="display:none; opacity:0;" id="usernamevalue" value="<%= user.username %>"/>
   <span><img class="img" src="<%=  user.avatar %>"  style="border-radius:50%; vertical-align: middle; display: inline;"></span>
    <div style="vertical-align: middle; display: inline;" class="usernamebrd"><span style="vertical-align: middle; display: inline;"><%= user.username %></span></div>

<br>
  </div>






  <a href="/app"><i class="fas fa-sign-out-alt"></i> /app</a>

</div>-->


  <nav>

   <!-- Navigation Bar -->
   <style>
   body {margin:0;}

   .navbar-w3 {
     overflow: hidden;
     background-color: #ee6e73;
     position: fixed;
     top: 0;
     width: 100%;
     height: 5%;
   }

   .navbar-w3 a {
     float: left;
     display: block;
     color: #f2f2f2;
     text-align: center;
     text-decoration: none;

   }

   .navbar-w3 a:hover {
     
     color: black;
   }


   </style>


   <div class="navbar-w3">
     <a class="button-collapse" ><i class="fas fa-bars"></i> Menu</a>
   </div>



   <div class="nav-wrapper">
        <!-- <a  class="brand-logo center">Noziro Chat</a>
         <a class="button-collapse"><i class="fas fa-bars"></i></a>
-->

     <ul id="slide-out" class="sidenav">
       <li><div class="user-view">
         <div class="background">
           <img src="https://materializecss.com/images/office.jpg">
         </div>
         <a ><img class="circle" id ="sonavatar" src="<%=  user.avatar %>"></a>
         <a ><span id="usernamevalue" class="white-text name"><%= user.username %></span></a>
       </div></li>
       <li><a href="/app" style="color: white;"><i class="fas fa-sign-out-alt" style="color: white;"></i> Disconnect</a></li>

       <!--<li><a href="#!">Second Link</a></li>
       <li><div class="divider"></div></li>
       <li><a class="subheader">Subheader</a></li>
       <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>-->
     </ul>
</div>

   </nav>




</nav>

    <div class="main">

    <ul id="messages"></ul>




    <form id="inputzone" action="">
      <div class="form">
      <input  style="color: white;" id="m" class="m" autocomplete="off" placeholder="Content" class="InputContentMessage"/>
      <!--<input id="image-file" type="file"/>-->
      </div>
    </form>

          <div id="memberlist" style="display:none"></div>

    <script>
    localStorage.setItem('uuid', "<%= user.uuid %>");

      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
      });
    </script>
    <script language="javascript">
     $(document).ready(function(){
    	   $('.button-collapse').click(function() {
           $('.sidenav').sidenav('open');
         });



       });
     </script>
    </div>
  </body>
</html>
